/* CSS Document */
@charset "utf-8";

/*================================================
 基本設定
================================================*/
/* --------- font設定  -----------
どのブラウザも14px相当に統一
-------------------------------*/
body {  
		font-size: 80%;
		line-height:160%;
		font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ','Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
		color:#333333;
		letter-spacing:0.05em;
}  
html>/**/body {  
    font-size: 14px;  
		line-height:160%;
}
/*-----------------------------*/

/*================================================
base layout
================================================*/
html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
	text-align:center;
}

div#all{
	min-height:100%;
	height:auto !important;
	height:100%;
	width:100%;
	margin:0 auto;
	text-align:left;
}

body > #all{
	height:auto;
}

a:link, a:visited, a:active {
	color: #0088CC;
}

a {
	color: #0088CC;
	text-decoration:underline;
	overflow:hidden;
	outline:none;
}

a:hover{
	text-decoration:none;
	color: #0088CC;
}


/*================================================
common layout
================================================*/
div.title-h1 {
	background:url(../images/bg-title_h1.gif) center repeat;
	margin-top:10px;
}
div.content-inner {
	margin:30px auto;
	width:960px;
}
div.title-sub {
	background:url(../images/bg-title_sub.png) center no-repeat;
	height:54px;
}
.tl {
	display:none;
	height:0;
	line-height:0;
	font-size:0;
}
/*================================================
content-1
================================================*/
div#content-1 {
	background:url(../images/bg-content-1.gif) center repeat;
	padding-top:65px;
}
div#content-1 div.title-h1 {
	background:url(../images/bg-title_h1.gif) center repeat;
	padding:23px 0;
}
div#content-1 div.title-h1 h1 {
	background:url(../images/title_h1-1.png) left top no-repeat;
	margin:0 auto;
	width:960px;
	height:100px;
	text-indent:-999em;
}
div#content-1 div.title-h2 {
	background-color:#ffffff;
}
div#content-1 div.title-h2 h2 {
	margin:0 auto;
	width:960px;
	height:180px;
	position:relative;
}
div#content-1 div.title-h2 h2 img {
	position:absolute;
	top:20px;
	left:-200px;
	z-index:999;
}
div#content-1 > div.content-inner {
	margin:30px auto;
	width:960px;
	position:relative;
}
div#content-1 div.content-inner h3 {
	background:url(../images/title_h3-1.png) left center no-repeat;
	margin:0 0 0 100px;
	width:720px;
	height:60px;
	text-indent:-999em;
}
div#content-1 div.content-inner p {
	background:url(../images/bg-wht_brd-pnk_rds-foot.png) center top no-repeat;
	margin:0 0 0 100px;
	width:720px;
	font-size:18px;
	font-weight:bold;
	line-height:46px;
	color:#ff2952;
}
div#content-1 div.content-inner p span {
	display:block;
	background-color:#ffdee3;
	margin:0 1px;
	padding:7px 24px;
	width:670px;
}
div#content-1 div.content-inner ul {
	background:url(../images/bg-wht_brd-pnk_rds-foot.png) center bottom no-repeat;
	margin:0 0 0 100px;
	padding:7px 0;
	width:720px;
	height:165px;
}
div#content-1 div.content-inner ul li {
	list-style:outside disc;
	margin:0 0 7px 48px;
}
img#nana1 {
	position:absolute;
	top:-402px;
	left:465px;
}
div#content-1 div.title-sub h4 {
	background:url(../images/title_h4-1.png) 320px center no-repeat;
	margin:0 auto;
	width:960px;
	height:54px;
	text-indent:-999em;
}
div#content-1 div.content-sub {
	background-color:#ffffff;
	margin-bottom:24px;
	padding:10px 0;
}
div#content-1 div.content-sub dl {
	margin:0 auto;
	width:960px;
}
div#content-1 div.content-sub dl dt {
	margin-left:100px;
	width:720px;
	text-indent:-999em;
}
div#content-1 div.content-sub dl dt.dt-1_1 {
	background:url(../images/title_dt-1_1.png) center no-repeat;
	height:42px;
}
div#content-1 div.content-sub dl dt.dt-1_2 {
	background:url(../images/title_dt-1_2.png) center no-repeat;
	height:43px;
}
div#content-1 div.content-sub dl dd {
	background:url(../images/bg-wht_brd-brn_rds-foot.png) center top no-repeat;
	margin-left:100px;
	width:720px;
	height:100px;
	font-size:14px;
	line-height:22px;
}
div#content-1 div.content-sub dl dd span {
	display:block;
	padding:0 20px 7px 250px;
}
div#content-1 div.content-sub dl dd.last {
	background-position:center bottom;
	height:40px;
}
img#nana2 {
	position:absolute;
	top:318px;
	left:-150px;
	z-index:999;
	zoom:1;
}
/*================================================
content-2
================================================*/
div#content-2 {
}
div#content-2 div.title-h1 h1 {
	background:url(../images/title_h1-2.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-2 > div.content-inner {
	position:relative;
}
div#content-2 div.content-inner h2 {
	margin:0 0 0 100px;
	width:720px;
	height:60px;
	text-indent:-999em;
}
div#content-2 div.content-inner h2#title-h2_1 {
	background:url(../images/title_h2-2_1.png) left center no-repeat;
}
div#content-2 div.content-inner h2#title-h2_2 {
	background:url(../images/title_h2-2_2.png) left center no-repeat;
}
div#content-2 div.content-inner h2#title-h2_3 {
	background:url(../images/title_h2-2_3.png) left center no-repeat;
}
div#content-2 div.content-inner p {
	background:url(../images/bg-wht_brd-brn_rds-foot.png) center top no-repeat;
	margin-left:100px;
	width:720px;
	font-size:16px;
	line-height:22px;
}
div#content-2 div.content-inner p.last {
	background:url(../images/bg-wht_brd-brn_rds-foot.png) center bottom no-repeat;
}
div#content-2 div.content-inner p span {
	display:block;
	padding:18px 1.5em 22px 1.5em;
}
img#nana3 {
	position:absolute;
	top:-4px;
	left:530px;
}
div#content-2 div.title-sub h3 {
	background:url(../images/title_h3-2.png) 100px center no-repeat;
	margin:0 auto;
	width:960px;
	height:54px;
	text-indent:-999em;
}
div#content-2 div.content-sub {
	background:url(../images/bg-sub-2.png) center bottom repeat-x;
	margin-bottom:2em;
	padding:20px 0;
}
div#content-2 div.content-sub div {
	margin:0 auto;
	width:960px;
}
div#content-2 div.content-sub div ul {
	background-color:#ffffff;
	margin:0 0 0 100px;
	padding:14px 14px 0 14px;
	border:1px solid #8e3244;
	width:692px;
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF3.6+ */
	-webkit-border-radius: 3px; /* Chrome10+,Safari5.1+ */
}
div#content-2 div.content-sub div ul li {
	list-style:outside disc;
	margin:0 1em 1em 2em;
	font-size:16px;
}
/*================================================
content-3
================================================*/
div#content-3 {
	background:url(../images/bg-3.gif) center repeat;
}
div#content-3 div.title-h1 h1 {
	background:url(../images/title_h1-3.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-3 > div.content-inner {
	position:relative;
}
div#content-3 div.content-inner h2 {
	margin:0 0 0 100px;
	width:720px;
	height:89px;
	text-indent:-999em;
}
div#content-3 div.content-inner h2#title-h2_1 {
	background:url(../images/title_h2-3_1.png) left center no-repeat;
}
div#content-3 div.content-inner h2#title-h2_2 {
	background:url(../images/title_h2-3_2.png) left center no-repeat;
}
div#content-3 div.content-inner h2#title-h2_3 {
	background:url(../images/title_h2-3_3.png) left center no-repeat;
}
div#content-3 div.content-inner div {
	background:url(../images/bg-wht_brd-pnk_rds-foot.png) center bottom no-repeat;
	margin:0 0 0.5em 100px;
	padding:14px 0 7px 0;
	width:720px;
}
div#content-3 div.content-inner div p {
	margin:0 1em 7px 1em;
	line-height:22px;
}
img#nana4 {
	position:absolute;
	top:218px;
	left:570px;
}
div#content-3 div.content-sub {
	background:url(../images/bg-sub-3.png) center bottom repeat-x;
	margin-bottom:2em;
}
div#content-3 div.content-sub div {
	margin:0 auto;
	width:960px;
	color:#ffffff;
}
div#content-3 div.content-sub div h3 {
	margin:0 0 0 100px;
	width:720px;
	font-size:18px;
	font-weight:bold;
	line-height:4em;
	text-align:center;
}
div#content-3 div.content-sub div p {
	margin:0 0 0 160px;
	padding-bottom:1.5em;
	width:600px;
}
/*================================================
content-4
================================================*/
div#content-4 {
	background:url(../images/bg-content-3.png) center top repeat-x;
}
div#content-4 div.title-h1 h1 {
	background:url(../images/title_h1-4.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-4 > div.content-inner {
	position:relative;
}
div#content-4 div.content-inner ul {
	margin:0 0 0 100px;
	width:520px;
	height:360px;
	float:left;
}
div#content-4 div.content-inner ul li {
	margin:0 10px 10px 0;
	width:160px;
	height:160px;
	float:left;
}
div#content-4 div.content-inner ul li dl {
	text-indent:-999em;
}
div#content-4 div.content-inner ul li#img-content-4_1 {
	background:url(../images/img-content-4_1.png) center no-repeat;
}
div#content-4 div.content-inner ul li#img-content-4_2 {
	background:url(../images/img-content-4_2.png) center no-repeat;
}
div#content-4 div.content-inner ul li#img-content-4_3 {
	background:url(../images/img-content-4_3.png) center no-repeat;
}
div#content-4 div.content-inner ul li#img-content-4_4 {
	background:url(../images/img-content-4_4.png) center no-repeat;
}
div#content-4 div.content-inner ul li#img-content-4_5 {
	background:url(../images/img-content-4_5.png) center no-repeat;
}
div#content-4 div.content-inner ul li#img-content-4_6 {
	background:url(../images/img-content-4_6.png) center no-repeat;
}
img#nana5 {
	position:absolute;
	top:6px;
	left:670px;
}
div#content-4 div.content-inner p {
	background:url(../images/text-content-4.png) left top no-repeat;
	margin:40px 0 20px 100px;
	width:350px;
	height:45px;
	text-indent:-999em;
	float:left;
}
div#content-4 div.title-sub h2 {
	background:url(../images/title_h2-4.png) 320px center no-repeat;
	margin:0 auto;
	width:960px;
	height:54px;
	text-indent:-999em;
}
div#content-4 div.content-sub {
	background:url(../images/bg-sub-4.png) center bottom repeat-x;
	margin-bottom:2em;
}
div#content-4 div.content-sub div {
	margin:0 auto;
	padding:10px 0;
	width:960px;
}
div#content-4 div.content-sub div dl {
	margin:10px 0 10px 310px;
	width:510px;
	border:1px solid  #8e3244;
	background-color:#ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF3.6+ */
	-webkit-border-radius: 3px; /* Chrome10+,Safari5.1+ */
}
div#content-4 div.content-sub div dl dt {
	width:490px;
	height:45px;
	text-indent:-999em;
}
div#content-4 div.content-sub div dl dt.dt-1_1 {
	background:url(../images/title_dt-4_1.png) center no-repeat;
	margin:0 10px 10px 10px;
}
div#content-4 div.content-sub div dl dt.dt-1_2 {
	background:url(../images/title_dt-4_2.png) center no-repeat;
	margin:0 10px 15px 10px;
}
div#content-4 div.content-sub div dl dd {
	margin:0 0 15px 70px;
	line-height:22px;
}
img#nana6 {
	position:absolute;
	top:470px;
	left:60px;
	z-index:999;
}
/*================================================
content-5
================================================*/
div#content-5 {
	background:url(../images/bg-content-5.png) center repeat;
	margin-bottom:-10px;
	padding-bottom:20px;
}
div#content-5 div.title-h1 h1 {
	background:url(../images/title_h1-5.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-5 div.content-inner div {
	background-color:#ffffff;
	margin:0 0 20px 100px;
	border:1px solid #8e3244;
	width:720px;
	height:215px;
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF3.6+ */
	-webkit-border-radius: 3px; /* Chrome10+,Safari5.1+ */
}
div#content-5 div.content-inner div ul {
}
div#content-5 div.content-inner div ul li {
	margin:20px 0 10px 30px;
	float:left;
}
div#content-5 div.content-inner div ul li a img {
	width:140px;
	height:150px;
}
div#content-5 div.content-inner div p {
	margin-right:40px;
	text-align:right;
	clear:both;
}
/*================================================
content-6
================================================*/
div#content-6 {
	background:url(../images/bg-content-6.png) center repeat;
	margin-bottom:30px;
	padding-bottom:20px;
}
div#content-6 div.title-h1 h1 {
	background:url(../images/title_h1-6.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-6 div.content-inner div {
	background-color:#ffffff;
	margin:0 0 20px 100px;
	border:1px solid #8e3244;
	width:720px;
	height:215px;
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF3.6+ */
	-webkit-border-radius: 3px; /* Chrome10+,Safari5.1+ */
}
div#content-6 div.content-inner div ul {
}
div#content-6 div.content-inner div ul li {
	margin:20px 0 10px 30px;
	float:left;
}
div#content-6 div.content-inner div ul li a img {
	width:140px;
	height:150px;
}
div#content-6 div.content-inner div p {
	margin-right:40px;
	text-align:right;
	clear:both;
}
/*================================================
content-7
================================================*/
div#content-7 {
	background:url(../images/bg-content-7.png) center repeat;
}
div#content-7 div.title-h1 h1 {
	background:url(../images/title_h1-7.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-7 div.content-inner ul {
	margin:0 0 0 100px;
	width:720px;
}
div#content-7 div.content-inner ul li {
	background:url(../images/arrow-7.png) center bottom no-repeat;
	margin-bottom:10px;
	padding-bottom:36px;
}
div#content-7 div.content-inner ul li dl {
}
div#content-7 div.content-inner ul li dl dt {
	width:720px;
	height:52px;
	text-indent:-999em;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_1 {
	background:url(../images/title_dt-7_1.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_2 {
	background:url(../images/title_dt-7_2.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_3 {
	background:url(../images/title_dt-7_3.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_4 {
	background:url(../images/title_dt-7_4.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_5 {
	background:url(../images/title_dt-7_5.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_6 {
	background:url(../images/title_dt-7_6.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_7 {
	background:url(../images/title_dt-7_7.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_8 {
	background:url(../images/title_dt-7_8.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_9 {
	background:url(../images/title_dt-7_9.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_10 {
	background:url(../images/title_dt-7_10.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dt#title_dt-7_11 {
	background:url(../images/title_dt-7_11.png) center no-repeat;
}
div#content-7 div.content-inner ul li dl dd {
	background:url(../images/bg-wht_brd-pnk_rds-foot.png) center bottom no-repeat;
	padding:1em 0;
}
div#content-7 div.content-inner ul li dl dd span {
	display:block;
	margin:0 1em;
}
div#content-7 div.content-inner ul li dl dd span ul {
	margin:0;
}
div#content-7 div.content-inner ul li dl dd span ul li {
	background:none;
	list-style:outside disc;
	margin:0.5em 0 0.5em 2em;
	padding-bottom:0;
}
/*================================================
content-8
================================================*/
div#content-8 {
	background:url(../images/bg-content-8.png) center top repeat-x;
}
div#content-8 div.title-h1 h1 {
	background:url(../images/title_h1-8.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-8 div.title-h1 h1#conf {
	background:url(../images/title_h1-8_cinf.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-8 div.title-h1 h1#comp {
	background:url(../images/title_h1-8_comp.png) 60px center no-repeat;
	margin:0 auto;
	width:960px;
	height:60px;
	text-indent:-999em;
}
div#content-8 div.content-inner div {
	background-color:#ffffff;
	margin:0 0 0 100px;
	padding:1em 0 0 0;
	border:1px solid #8e3244;
	width:720px;
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF3.6+ */
	-webkit-border-radius: 3px; /* Chrome10+,Safari5.1+ */
}
div#content-8 div.content-inner div p {
	margin:0 1em 1em 1em;
}
div#content-8 form {
	margin:0 auto;
	width:960px;
}
div#content-8 form table {
	background-color:#ffffff;
	margin:0 0 1em 100px;
	width:720px;
}
div#content-8 form table th {
	background-color:#ffdee3;
	padding:0.5em 1em;
	border-bottom:1px solid #ffffff;
	width:252px;
	vertical-align:top;
	text-align:left;
}
div#content-8 form table th span {
	margin-left:1em;
	font-size:12px;
	font-weight:normal;
	color:#ff0000;
}
div#content-8 form table th.last {
	border-bottom:1px solid #ffdee3;
}
div#content-8 form table td {
	border:1px solid #ffdee3;
	padding:0.5em 1em;
}
div#content-8 form table td input.text {
	width:92%;
	font-size:14px;
	line-height:1.6em;
}
div#content-8 form table td input.radio {
	margin:-4px 1em 0 0;
	line-height:1.8em;
}
div#content-8 form table td label {
	margin-right:3em;
	line-height:1.8em;
}
div#content-8 form table td textarea {
	width:92%;
	height:19.2em;
	font-size:14px;
	line-height:1.6em;
}
div#area-btn {
	margin-bottom:5em;
	text-align:center;
}
div#area-btn input {
	font-size:16px;
}

.errMsg{
	color:#ff0000;
	font-weight:bold;
}
.errFont{
	background:url(../images/icon-caution.png) left center no-repeat;
	padding-left:18px;
	color:#ff0000;
	font-weight:bold;
}


/*================================================
footer
================================================*/
div#foot {
	text-align:center;
}
div#foot div {
	margin:0 auto;
	width:960px;
}
div#foot div h1 {
	background:url(../images/logo_company.png) center no-repeat;
	width:240px;
	height:35px;
	text-indent:-999em;
	float:left;
}
div#foot div ul {
	text-align:left;
	float:left;
}
div#foot div ul li {
	margin:0.8em 0 3em 2em;
}
div#foot div ul li a {
	color:#594b4d;
}
div#foot address {
	padding:1em 0;
	border-top:1px solid #c1c1c1;
	font-size:12px;
	color:#594b4d;
}
/*================================================
nav
================================================*/
nav {
	width:100%;
	text-align:center;
	position:fixed;
	z-index:99999 !important;
}
nav #menu {
	margin:0 auto;
	width:960px;
	position:relative;
}
nav #menu #nav {
	/*background:url(../images/menu.png) left top no-repeat;*/
	width:184px;
	height:416px;
	position:absolute;
	top:50px;
	right:-16px;
}
nav #menu #nav h1 {
	background:url(../images/menu.png) left top no-repeat;
	height:65px;
	text-indent:-999em;
}
nav #menu #nav ul {
	background:url(../images/menu.png) left bottom no-repeat;
	padding-bottom:19px;
}
nav #menu #nav ul li {
	display:block;
	margin:0;
	padding:0;
	font-size:0;
	height:auto;
}
nav #menu #nav ul li span {
	display:none;
}
nav #menu #nav ul li a span {
	display:none;
}
nav #menu #nav ul li a {
	display:block;
	height:30px;
}
nav #menu #nav ul li a:hover {
	background-position:right -137px;
}
nav #menu #nav ul li#tel {
	background:url(../images/menu.png) left -67px no-repeat;
	height:71px;
}
nav #menu #nav ul li a#to_form {
	background:url(../images/menu.png) left -137px no-repeat;
	height:50px;
}
nav #menu #nav ul li a#to_form:hover {
	background-position:right -137px;
}
nav #menu #nav ul li a#nav1 {
	background:url(../images/menu.png) left -187px no-repeat;
}
nav #menu #nav ul li a#nav1:hover {
	background-position:right -187px;
}
nav #menu #nav ul li a#nav2 {
	background:url(../images/menu.png) left -217px no-repeat;
}
nav #menu #nav ul li a#nav2:hover {
	background-position:right -217px;
}
nav #menu #nav ul li a#nav3 {
	background:url(../images/menu.png) left -247px no-repeat;
}
nav #menu #nav ul li a#nav3:hover {
	background-position:right -247px;
}
nav #menu #nav ul li a#nav4 {
	background:url(../images/menu.png) left -277px no-repeat;
}
nav #menu #nav ul li a#nav4:hover {
	background-position:right -277px;
}
nav #menu #nav ul li a#nav5 {
	background:url(../images/menu.png) left -307px no-repeat;
}
nav #menu #nav ul li a#nav5:hover {
	background-position:right -307px;
}
nav #menu #nav ul li a#nav6 {
	background:url(../images/menu.png) left -337px no-repeat;
}
nav #menu #nav ul li a#nav6:hover {
	background-position:right -337px;
}
nav #menu #nav ul li a#nav7 {
	background:url(../images/menu.png) left -367px no-repeat;
}
nav #menu #nav ul li a#nav7:hover {
	background-position:right -367px;
}