@media(min-width:769px){  
	/*==================================

				採用情報

	===================================*/

	.recruit_innner table {
		margin: 0 0 40px 0;
		width: 100%;
		font-size: 16px;
		line-height: 1.8em;
	}
	.recruit_innner table th {
		background: #eeeeee;
		padding: 20px;
		width: 30%;
		vertical-align: middle;
	}
	.recruit_innner table td {
		padding: 20px;
		width: 70%;
	}

	div.recruit_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../img/other/head_recruit.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.recruit_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;
	}

	div.recruit_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.recruit_innner, div.recruit_innner2{
		overflow: hidden;
		width: 940px;
		margin: 100px auto 100px;
		line-height: 1.8em;
		font-size: 14px;
	}
	div.recruit_innner{
		padding: 0 20px;
	}

	div.recruit_innner2{
		padding: 60px 0px;
		background:#00a3ba; 
		color: #fff;
	}

	div.recruit_innner p, div.recruit_innner2 p{
		font-size: 16px;
		text-align: center;
	}

	div.recruit_innner h2, div.recruit_innner2 h2,#message_recruit_innner2 h2{
		margin-bottom: 20px;
		line-height: 1.5em;
		text-align: center;
	}

	div.recruit_innner h3{
		font-size: 24px;
		line-height: 1.5em;
		text-align: center;
	}

	/*ビーダッシュからメッセージ*/
	div.recruit_innner a.btn_M_bl{
		margin: 40px auto 100px;
	}

	/*wantedlyアイテム*/
	.wantedly_box{
		margin-top:40px;
		margin-bottom:-40px;
	}

	div.wantedly_box div{
		float: left;
	}

	iframe.recruit_items{
		width: 460px;
		overflow: hidden;
		height: 305px;
		margin-bottom:20px;
	}

	.mr20{
		margin-right:20px;
	}

	div.wantedly_time{
		float: left;
		margin-right: 20px;
	}

	div.facebook_time{
		float: right;
	}

	p.wtdl_btn, p.fb_btn{
		width: 460px;
		margin-bottom: 20px;
		padding: 20px 0;
		font-size: 24px!important;
		text-align: center;
		color: #fff!important;
	}

	p.wtdl_btn{
		background: #00a3ba;
	}

	p.fb_btn{
		background: #3765a3;
	}

	.recruit_toptxt{
		margin-bottom:20px;
		line-height:1.8em;
	}

	.recruit_toptxt_last{
		margin-bottom:100px;
		line-height:1.8em;
	}



	/*==================================

		　　　ビーダッシュからのメッセージ

	===================================*/

	#message_topimage{
		background-color:#eee;
		text-align:center;
		margin-bottom:-10px;
		height:400px;
	}

	/*左カラム*/
	.message_l{
		float: left;
		width: 680px;
	}

	/*右カラム*/
	.message_r{
		float: right;
		width: 220px;
	}

	div.message_innner{
		margin: 100px auto;
		line-height: 1.8em;
		overflow: hidden;
	}

	div.message_innner2{
		margin: 0 auto 20px;
		line-height: 1.8em;
		overflow: hidden;
	}

	div.message_innner h2, div.message_innner2 h2{
		margin-bottom: 80px;
		text-align: center;
		line-height: 1.2em;
	}

	div.message_innner h3, div.message_innner2 h3{
		margin-bottom: 20px;
		font-size: 24px;
		color: #cc0000;
	}

	h3.message_title_rd{
		padding: 15px 0;
		background-color: #cc0000;
		text-align: center;
		color: #fff!important;
		line-height:1.8em;
	}

	.txt36{
		font-size:36px;
	}

	div.message_innner h4{
		font-size: 18px;
	}

	div.message_innner p, div.message_innner2 p{
		margin-bottom: 60px;
		font-size: 14px;
		text-align: justify;
	}

	p.message_mb20{
		margin-bottom: 20px!important;
	}

	p.message_mb20 span{
		color: #cc0000;
	}

	/*左カラムラスト*/
	.message_last_l{
		float: left;
		width: 450px;
	}

	/*右カラムラスト*/
	.message_last_r{
		float: right;
		width: 450px;
	}

	#message_recruit_innner2{
		overflow: hidden;
		width: 940px;
		margin: 80px auto;
		line-height: 1.8em;
		font-size: 14px;
		padding: 40px 0px;
		background:#eca0a0; 
		color: #fff;
	}


	/*==================================

				中メニュー

	===================================*/

	div.recruit_menu{
		height: 78px;
		background-color: #333;
		border-top: 1px solid #cc0000;
		border-bottom: 1px solid #cc0000;
	}

	div.recruit_menu ul{
		width: 940px;
		margin: 30px auto 0;
		text-align: center;
	}

	div.recruit_menu ul li{
		display: inline-block;
		margin-right: 10px;
		font-weight: bold;
		color: #fff;
	}

	div.recruit_menu ul li:after{
		margin-left: 10px;
		content: "｜";
	}

	div.recruit_menu ul li.mr0{
		margin-right: 0px;
	}

	div.recruit_menu ul li.mr0:after{
		content: none!important;
	}

	div.recruit_menu ul li a{
		font-weight: normal;
		color: #ccc;
	}

	div.recruit_menu ul li a:hover{
		color: #fff;
		text-decoration: underline;
	}



	/*==================================

				個人情報保護方針

	===================================*/

	div.privacy_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../img/other/head_privacy.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.privacy_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;
	}

	div.privacy_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.privacy_innner{
		width: 820px;
		margin: 0 auto 120px;
		padding: 0 80px;
		line-height: 1.8em;
		font-size: 14px;
	}

	div.privacy_innner h2{
		margin: 100px 0 60px 0;
		text-align: center;
	}

	div.privacy_innner h3{
		margin: 60px 0 20px 0;
		font-size: 20px;  /*240227 鶴見修正　24px→20px*/
		text-align:center;
	}

	div.privacy_innner h4{  /*2402鶴見追加*/
	margin: 30px 0 10px 0;
	font-size: 18px;
	}

	div.privacy_innner h5{  /*2402鶴見追加*/
	font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
	}


	div.privacy_innner ul{
		margin-left: 40px;
		list-style: square;
	}

	div.privacy_innner ul.privacy_other{
		list-style: none;
	}

	p.privacy_date{
		margin-top: 30px;
		margin-bottom: 60px;
		font-size: 12px;
		text-align: left;
	}

	p.privacy_mt20{
		margin-top: 20px;
	}

	.privacy_decimal {
		margin-top: 20px;
	}

	.privacy_decimal li {
		list-style: decimal;
	}

	div.privacy_flame {
		display: block;
		margin: 20px;
		padding: 20px;
		border: solid 2px #ddd;
}


	/*==================================

		個人情報の開示等に関するお手続き

	===================================*/

	.disclosure_tit {
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 5px;
	}

	.disclosure_tit02 {
		margin-top: 20px;
	}

	.disclosure_list {
		margin-left: 0 !important;
	}

	.disclosure_list02 {
		margin-left: 40px !important;
	}

	.disclosure_list03 {
		margin-left: 1em !important;
	}

	.disclosure_list li {
		list-style: none;
	}

	.disclosure_list02 li {
		list-style: square;
	}

	.disclosure_list03 li {
		list-style: none !important;
	}



	/*==================================

				サイトマップ

	===================================*/

	div.sitemap_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../img/other/head_sitemap.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.sitemap_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;
	}

	div.sitemap_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.sitemap_innner{
		width: 820px;
		margin: 100px auto 120px;
		padding: 0 80px;
		line-height: 1.8em;
		font-size: 14px;
	}

	div.sitemap_innner a{
		color: #333;
	}

	div.sitemap_innner a:hover{
		color: #ccc;
		text-decoration: underline;
	}

	div.sitemap_innner h3 a{
		display: block;
		margin-bottom: 40px;
		font-size: 14px!important;
	}

	div.sitemap_innner h3{
		color: #999;
		margin-bottom: 10px;
		font-size: 12px;
	}

	div.sitemap_innner p{
		margin-bottom: 40px;
	}

	div.sitemap_innner p:before, div.sitemap_innner h3 a:before{
		margin-right: 10px;
		content: url("../img/common/arrow_red.png");
	}

	div.sitemap_innner ul{
		margin-bottom: 40px;
	}

	div.sitemap_innner ul li{
		display: inline-block;
		width: 262px;
		height: 1em;
		margin-right: 11px;
		line-height: 1.2em;
		overflow: hidden;
	}

	div.sitemap_innner ul li.sitemap_mr0{
		margin-right: 0!important;
	}

	/*=================================

	            404ページ

	==================================*/

	div.p404_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../img/other/head_404.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.p404_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;

	}

	div.p404_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.p404{
		margin: 80px auto;
	}

	div.p404 h2{
		text-align: center;
	}

	 div.p404 p{
	 	margin: 60px 0;
	 	font-size: 14px;
		line-height: 1.8em;
	 	text-align: center;
	}
}





/* レスポンシブ */
@media(max-width:768px){

	*{font-family:sans-serif !important;}

    body{
        font-size:80%;
        line-height:160%;
        color:#000000;
        letter-spacing:0.05em;
        width:100%;
        background:#ffffff;
        min-width: 100%;
        min-height:100%;
        height:auto;
    }

    html>/**/body {font-size:14px; line-height:180%;}

    html{width:100%; height:100%;}

    img, input[type="image"]{
        max-width:100%;
        height:auto;
    }

	/*==================================

				採用情報

	===================================*/

	.recruit_innner table {
		margin: 0 0 5px 0;
		width: 100%;
		font-size: 14px;
		line-height: 1.8em;
	}
	.recruit_innner table th {
		background: #eeeeee;
		padding: 10px;
		width: 30%;
		vertical-align: middle;
	}
	.recruit_innner table td {
		padding: 10px;
		width: 70%;
	}

	div.recruit_hd{
		background-color:#333;
		background-image: url("../img/other/head_recruit.jpg"); 
		background-position: bottom right -330px;
		background-repeat: no-repeat;
		color: #fff;
		padding: 10px 0;
        text-align: center;
	}

	div.recruit_hd p{
		text-align: center;
        font-size: 10px;
        line-height: 12px;
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 2px solid #cc0000;
        text-shadow: 1px 1px 3px #333333;
	}

	div.recruit_hd h2{
		font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        padding-top: 1px;
        text-shadow: 1px 1px 3px #333333;
	}

	div.recruit_innner, div.recruit_innner2{
		overflow: hidden;
		width: 94%;
		padding: 0 3%;
		margin: 30px auto 20px;
		line-height: 1.8em;
		font-size: 14px;
	}

	div.recruit_innner2{
		width: 94%;
		padding: 60px 3%;
		background:#00a3ba; 
		color: #fff;
	}

	div.recruit_innner p, div.recruit_innner2 p{
		font-size: 14px;
		text-align: left;
	}

	div.recruit_innner h2, div.recruit_innner2 h2,#message_recruit_innner2 h2{
		margin-bottom: 20px;
		line-height: 1.5em;
		text-align: center;
		font-size: 20px;
		margin-top: 40px !important;
	}

	div.recruit_innner h3{
		font-size: 24px;
		line-height: 1.5em;
		text-align: center;
	}

	/*ビーダッシュからメッセージ*/
	div.recruit_innner a.btn_M_bl{
		margin: 40px auto 100px;
	}

	/*wantedlyアイテム*/
	.wantedly_box{
		width: 100%;
		margin: 20px auto -20px;
	}

	iframe.recruit_items{
		width: 100%;
		height: 305px;
		margin-bottom:10px;
	}

	.mr20{
		margin-right:20px;
	}

	.wantedly_time body {
		width: 65% !important;
	}

	p.wtdl_btn, p.fb_btn{
		width: 94%;
		margin: 0 auto 10px;
		padding: 20px 3%;
		font-size: 24px!important;
		text-align: center;
		color: #fff!important;
	}

	p.wtdl_btn{
		background: #00a3ba;
	}

	p.fb_btn{
		background: #3765a3;
	}

	.recruit_toptxt{
		margin-bottom:14px;
		line-height:160%;
	}

	.recruit_toptxt_last{
		margin-bottom:40px;
		line-height:160%;
	}

	.spHide {
		display: none;
	}
	
	.wantedly_time iframe {
		width: 100% !important;
	}

	.facebook_time div span iframe {
		width: 100% !important;
	}


	/*==================================

		　　　ビーダッシュからのメッセージ

	===================================*/

	#message_topimage{
		text-align:center;
		height:auto;
		width: 100%;
		margin-top: -15px;
	}

	/*左カラム*/
	.message_l{
		float: none;
		width: 100%;
	}

	/*右カラム*/
	.message_r{
		float: none;
		width: 100%;
		text-align: center;
	}

	div.message_innner{
		margin: 30px auto;
		line-height: 160%;
		overflow: hidden;
		width: 94%;
		padding: 0 3%;
	}

	div.message_innner2{
		margin: 0 auto 20px;
		line-height: 160%;
		overflow: hidden;
		width: 94%;
		padding: 0 3%;
	}

	div.message_innner h2, div.message_innner2 h2{
		font-size: 20px;
		margin-bottom: 15px;
		text-align: center;
		line-height: 1.2em;
	}

	div.message_innner h3, div.message_innner2 h3{
		margin-bottom: 15px;
		margin-top: 15px;
		font-size: 18px;
		color: #cc0000;
	}

	h3.message_title_rd{
		padding: 15px 0;
		background-color: #cc0000;
		text-align: center;
		color: #fff!important;
		line-height:1.8em;
	}

	.txt36{
		font-size:36px;
	}

	div.message_innner h4{
		font-size: 18px;
	}

	div.message_innner p, div.message_innner2 p{
		margin-bottom: 30px;
		font-size: 14px;
		text-align: justify;
	}

	p.message_mb20{
		margin-bottom: 20px!important;
	}

	p.message_mb20 span{
		color: #cc0000;
	}

	/*左カラムラスト*/
	.message_last_l{
		float: none;
		width: 100%;
	}

	/*右カラムラスト*/
	.message_last_r{
		float: none;
		width: 100%;
	}

	#message_recruit_innner2{
		overflow: hidden;
		width: 94%;
		margin: 30px auto;
		line-height: 1.8em;
		font-size: 14px;
		padding: 40px 0px;
		background:#eca0a0; 
		color: #fff;
	}
	
	.btn_M_wt {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding: 16px 0px;
		text-align: center;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
	}
	
	.btn_M_wt:before {
		content: url("../img/common/arrow_btn_wt.png");
		margin-right: 10px;
	}

	.btn_M_wt:hover {
		background-image: url("../img/common/bg_wt.png");
	}

	/*==================================

				中メニュー

	===================================*/

	div.recruit_menu{
		height: 85px;
		background-color: #333;
		border-top: 1px solid #cc0000;
		border-bottom: 1px solid #cc0000;
	}

	div.recruit_menu ul{
		width: 100%;
		margin: 15px auto 0;
		text-align: center;
	}

	div.recruit_menu ul li{
		font-weight: bold;
		color: #fff;
		margin-bottom: 5px;
	}

	div.recruit_menu ul li.mr0{
		margin-right: 0px;
	}

	div.recruit_menu ul li.mr0:after{
		content: none!important;
	}

	div.recruit_menu ul li a{
		font-weight: normal;
		color: #ccc;
	}

	div.recruit_menu ul li a:hover{
		color: #fff;
		text-decoration: underline;
	}



	/*==================================

				個人情報保護方針

	===================================*/

	div.privacy_hd{
		background-color:#333;
		background-image: url("../img/other/head_privacy.jpg"); 
		background-position: right -580px center;
		background-repeat: no-repeat;
		color: #fff;
		padding: 10px 0;
        text-align: center;
	}

	div.privacy_hd p{
		text-align: center;
        font-size: 10px;
        line-height: 12px;
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 2px solid #cc0000;
        text-shadow: 1px 1px 3px #333333;
	}

	div.privacy_hd h2{
		font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        padding-top: 1px;
        text-shadow: 1px 1px 3px #333333;
	}

	div.privacy_innner{
		width: 94%;
		margin: 0 auto 15px;
		padding: 0 3%;
		line-height: 160%;
		font-size: 14px;
	}

	div.privacy_innner h2{
		margin: 30px 0 20px 0;
		text-align: center;
		font-size: 18px;
	}

	div.privacy_innner h3{
		margin: 30px 0 15px 0;
		text-align:center;   /*2402鶴見追加*/
		font-size: 16px;
	}

	div.privacy_innner ul{
		margin: 10px 0 20px 30px;
		list-style: square;
	}

	div.privacy_innner ul.privacy_other{
		list-style: none;
	}

	div.privacy_innner ul.disclosure_list03{
		margin: 10px 0 20px 30px;
		list-style: none;
	}

	p.privacy_date{
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 12px;
		text-align: left;
	}

	.privacy_decimal {
		margin-top: 20px;
	}

	.privacy_decimal li {
		list-style: decimal;
	}

	div.privacy_flame {
		display: block;
		margin: 2px;
		padding: 6px;
		border: solid 2px #ddd;
	}

	/*==================================

		個人情報の開示等に関するお手続き

	===================================*/

	.disclosure_tit {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.disclosure_tit02 {
		margin-top: 20px;
	}

	.disclosure_list {
		margin-left: 0 !important;
	}

	.disclosure_list02 {
		margin-left: 40px !important;

	}

	.disclosure_list li {
		list-style: none;
	}

	.disclosure_list02 li {
		list-style: square;
	}

	/*==================================

				サイトマップ

	===================================*/

	div.sitemap_hd{
		background-color:#333;
		background-image: url("../img/other/head_sitemap.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		color: #fff;
		padding: 10px 0;
		text-align: center;
	}

	div.sitemap_hd p{
		text-align: center;
        font-size: 10px;
        line-height: 12px;
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 2px solid #cc0000;
        text-shadow: 1px 1px 3px #333333;
	}

	div.sitemap_hd h2{
		font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        padding-top: 1px;
        text-shadow: 1px 1px 3px #333333;
	}

	div.sitemap_innner{
		width: 94%;
		margin: 15px auto;
		padding: 0 3%;
		line-height: 160%;
		font-size: 14px;
	}

	div.sitemap_innner a{
		color: #333;
	}

	div.sitemap_innner a:hover{
		color: #ccc;
		text-decoration: underline;
	}

	div.sitemap_innner h3 a{
		display: block;
		margin-bottom: 15px;
		font-size: 14px !important;
	}

	div.sitemap_innner h3{
		color: #999;
		margin-bottom: 7px;
		font-size: 12px;
	}

	div.sitemap_innner p{
		margin-bottom: 20px;
	}

	div.sitemap_innner p:before, div.sitemap_innner h3 a:before{
		margin-right: 10px;
		content: url("../img/common/arrow_red.png");
	}

	div.sitemap_innner ul{
		margin-bottom: 15px;
	}

	div.sitemap_innner ul li{
		display: block;
		width: 100%;
		line-height: 100%;
		overflow: hidden;
	}

	/*=================================

	            404ページ

	==================================*/

	div.p404_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../img/other/head_404.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.p404_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;

	}

	div.p404_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.p404{
		margin: 80px auto;
	}

	div.p404 h2{
		text-align: center;
	}

	 div.p404 p{
	 	margin: 60px 0;
	 	font-size: 14px;
		line-height: 1.8em;
	 	text-align: center;
	}
}

