@media(min-width:769px){
	/*==================================

			サービス一覧：ヘッダー

	===================================*/
	div.service_I_hd{
		height: 400px;
		background-color:#333;
		background-image: url("../../img/service/index/head_service_index.jpg"); 
		background-position: top center;
		background-repeat: no-repeat;
		color: #fff;
	}

	div.service_I_hd p{
		padding: 210px 0 10px;
		width: 940px;
		margin: 0 auto;
	}

	div.service_I_hd h2{
		width: 940px;
		margin: 0 auto;
	}

	div.news_inner {
		min-height: 400px;
		margin: 100px auto 120px;
	}

	/*==================================

			innner

	===================================*/

	div.service_I_inner{
		margin: 100px auto 120px;
		overflow: hidden;
	}

	div.service_I_inner h2{
		margin-bottom: 60px;
		text-align: center;
		line-height: 1.2em;
	}

	div.service_I_inner h3{
		padding: 38px 0;
		font-size: 24px;
		text-align: center;
		color: #fff;
	}

	div.service_I_inner p{
		margin-bottom: 40px;
		line-height: 1.8em;
	}

	div.service_I_inner a{
		color: #333;
	}

	div.service_I_inner a:hover{
		color: #cc0000;
		text-decoration: underline;
	}

	div.service_I_inner a:before{
		margin-right: 10px;
		content: url("../../img/common/arrow_red.png");
	}

	div.service_I_inner ul{
		padding: 10px 20px;
	}

	div.service_I_inner li{
		font-size: 14px;
		line-height: 1.8em;
	}

	/*サービスボックス*/
	div.service_I_advertise, div.service_I_event, div.service_I_web, 
	div.service_I_sp, div.service_I_pr, div.service_I_content{
		float: left;
		width: 300px;
		height: 300px;
		background-position: top left;
		background-repeat: no-repeat;
	}

	div.service_I_advertise, div.service_I_event, div.service_I_sp, div.service_I_pr{
		margin-right: 20px;
	}

	div.service_I_sp, div.service_I_pr, div.service_I_content{
		margin-top: 20px;
	}

	/*各サービスボックス：広告・マーケティング*/
	div.service_I_advertise{
		background-image: url("../../img/service/index/service_box01.jpg");
	}

	/*各サービスボックス：イベント*/
	div.service_I_event{
		background-image: url("../../img/service/index/service_box02.jpg");
	}

	/*各サービスボックス：Web*/
	div.service_I_web{
		background-image: url("../../img/service/index/service_box03.jpg");
	}

	/*各サービスボックス：sp*/
	div.service_I_sp{
		background-image: url("../../img/service/index/service_box04.jpg");
	}

	/*各サービスボックス：pr*/
	div.service_I_pr{
		background-image: url("../../img/service/index/service_box05.jpg");
	}

	/*各サービスボックス：content*/
	div.service_I_content{
		background-image: url("../../img/service/index/service_box06.jpg");
	}

}

@media(max-width:768px){

    *{font-family:sans-serif !important;}

    body{
        font-size:80%;
        line-height:160%;
        color:#000000;
        letter-spacing:0.05em;
        width:100%;
        background:#ffffff;
        min-width: 100%;
        min-height:100%;
        height:auto;
    }

    html>/**/body {font-size:14px; line-height:180%;}

    html{width:100%; height:100%;}

    img, input[type="image"]{
        max-width:100%;
        height:auto;
    }

	/*==================================

				実績紹介：ヘッダー

	===================================*/

	div.service_I_hd{
		background-color:#333;
		background-image: url("../../img/service/index/head_service_index.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size:130% auto;
		color: #fff;
		padding: 10px 0;
	    text-align: center;
	}

	div.service_I_hd p{
		text-align: center;
	    font-size: 10px;
	    line-height: 12px;
	    display: inline-block;
	    padding-bottom: 1px;
	    border-bottom: 2px solid #cc0000;
	    text-shadow: 1px 1px 3px #333333;
	}

	div.service_I_hd h2{
		font-size: 18px;
	    line-height: 22px;
	    font-weight: bold;
	    padding-top: 1px;
	    text-shadow: 1px 1px 3px #333333;
	}

	/*==================================

			innner

	===================================*/

	div.service_I_inner{
		clear: both;
		width: 94%;
		margin: 20px auto 20px;
		padding: 0 3%;
	}

	div.service_I_inner h2{
		display: none;
	}

	div.service_I_inner p{
		margin-bottom: 40px;
		line-height: 1.8em;
	}

	div.service_I_inner ul{
		padding: 10px 20px;
	}

	div.service_I_inner ul li{
		font-size: 14px;
		line-height: 1.5em;
		margin-bottom: 6px;
	}

	div.service_I_inner ul li h3{
		padding: 38px 0;
		font-size: 24px;
		text-align: center;
		color: #fff;
	}

	div.service_I_inner ul li a{
		color: #ffffff;
		text-decoration: underline;
	}

	div.service_I_inner ul li a:before{
		margin-right: 10px;
		content: url("../../img/common/arrow_red.png");
	}

	.service_I_advertise h3,
	.service_I_event h3,
	.service_I_web h3,
	.service_I_content h3,
	.service_I_pr h3,
	.service_I_sp h3{
		padding: 20px 0 10px;
		font-size: 18px;
		text-align: center;
		color: #ffffff;
	}
	/*サービスボックス*/
	div.service_I_advertise, div.service_I_event, div.service_I_web,
	div.service_I_sp, div.service_I_pr, div.service_I_content{
		display: block;
		width: 100%;
		height: 260px;
		background-position: top left;
		background-repeat: no-repeat;
		margin: 0 auto 30px;
		position: relative;
	}
	/*各サービスボックス：広告・マーケティング*/
	div.service_I_advertise{
		background-image: url("../../img/service/index/service_box01_sp.jpg");
		background-size: cover;
	}
	/*各サービスボックス：イベント*/
	div.service_I_event{
		background-image: url("../../img/service/index/service_box02_sp.jpg");
		background-size: cover;
	}
	/*各サービスボックス：Web*/
	div.service_I_web{
		background-image: url("../../img/service/index/service_box03_sp.jpg");
		background-size: cover;
	}
	/*各サービスボックス：sp*/
	div.service_I_sp{
		background-image: url("../../img/service/index/service_box04_sp.jpg");
		background-size: cover;
	}
	/*各サービスボックス：pr*/
	div.service_I_pr{
		background-image: url("../../img/service/index/service_box05_sp.jpg");
		background-size: cover;
	}
	/*各サービスボックス：content*/
	div.service_I_content{
		background-image: url("../../img/service/index/service_box06_sp.jpg");
		background-size: cover;
	}
}
