/*==================================

		イベント：ヘッダー

===================================*/

div.event_hd{
	height: 400px;
	background-color:#333;
	background-image: url("../../img/service/event/common/head_event.jpg"); 
	background-position: top center;
	background-repeat: no-repeat;
	color: #fff;
}

div.event_hd p{
	padding: 210px 0 10px;
	width: 940px;
	margin: 0 auto;
}

div.event_hd h2{
	width: 940px;
	margin: 0 auto;
}

/*==================================

			中メニュー

===================================*/

div.event_menu{
	height: 76px;
	padding-top: 2px;
	background-color: #333;
	border-top: 1px solid #cc0000;
	border-bottom: 1px solid #cc0000;
	font-size: 12px;
}

div.event_menu ul{
	width: 940px;
	margin: 30px auto 0;
	text-align: center;
}

div.event_menu ul li{
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	color: #fff;
}

div.event_menu ul li:after{
	margin-left: 10px;
	content: "｜";
}

div.event_menu ul li.mr0{
	margin-right: 0px;
}

div.event_menu ul li.mr0:after{
	content: none!important;
}

div.event_menu ul li a{
	font-weight: normal;
	color: #ccc;
}

div.event_menu ul li a:hover{
	color: #fff;
	text-decoration: underline;
}

/*==================================

		innner

===================================*/

div.event_innner, div.event_innner2, div.event_innner3{
	width: 940px;
	padding: 0 20px;
	overflow: hidden;
}

div.event_innner{
	margin: 100px auto 120px;
}

div.event_innner2{
	margin: 0 auto;
}

div.event_innner3{
	margin: 0px auto 120px;
}

/*==================================

		要素

===================================*/

div.event_innner h2, div.event_innner2 h2{
	margin-bottom: 80px;
	line-height: 1.2em;
	white-space: nowrap;
	text-align: center;
}

div.event_innner h3{
	margin-bottom: 20px;
	font-size: 24px;
	color: #cc0000;
}

div.event_innner div.event_L h2{
	text-align: left!important;
} 

div.event_innner div.event_L p{
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.8em;
	text-align: justify;
}

/*左カラム*/
div.event_L{
	float: left;
	width: 680px;
}

/*右カラム*/
div.event_R{
	float: right;
	width: 180px;
	height: 460px;
	padding: 25px 20px;
	background-image: url("../../img/service/event/common/side_event.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	color: #fff;
}

div.event_R p{
	margin-bottom: 10px;
}

p.event_service{
	margin-top: 40px;
}

ul.event_S_list li{
	font-size: 12px;
	line-height: 2em;
}

ul.event_S_list li:before{
	margin-right: 5px;
	content: url("../../img/common/arrow_wt.png");
}

ul.event_S_list li a{
	color: #fff;
}

ul.event_S_list li a:hover{
	text-decoration: underline;
	color: #ccc;
}

div.event_R li a img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
}

div.event_R li img{
	margin-bottom: 10px;
}

div.event_R li.mb40 img{
	margin-bottom: 40px;
}


/*==================================

		実績

===================================*/


ul.event_works{
	clear: both;
	margin-bottom: 60px;
	overflow: hidden;
}

ul.event_works li{
	position: relative;
	float: left;
	width: 220px;
	margin-right: 20px;
}

ul.event_works li .mr0{
	margin-right: 0;
}

ul.event_works p{
	margin-top: 10px;
	line-height: 1.5em;
	font-size: 12px;
	color: #999;
}

ul.event_works p span{
	font-size: 14px;
	color: #333;
}

/*==================================

			追加要素部分

===================================*/

p.add_txt{
	margin: -40px 0 40px;
	font-size: 14px;
	line-height: 1.8em;
	text-align: center;
}

ul.add_box li{
	float: left;
	width: 458px;
	margin: 0 20px 20px 0;
	border: 1px solid #999;
	text-align: center;
}

ul.add_box li h3{
	font-size: 16px;
	padding-top: 20px;
	color: #333;
}

/*価格*/
ul.price_area li{
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;
	padding-left: 20px;
	background-color: #eee;
}

li.price_txt{
	width: 690px!important;
	background-color: #ccc!important;
}

ul.price_area h3, ul.price_area h4{
	font-size: 16px;
	padding-top: 20px;
}

ul.price_area h3{
	color: #333;
}

ul.price_area h4{
	margin-bottom: 20px;
}

/*==================================

	下部・関連ソリューション＋サービス

===================================*/

div.event_innner3 div{
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}

div.event_innner3 p{
	float: left;
	width: 220px;
	height: 38px;
	margin-right: 20px;
	padding-top: 22px;
	background-color: #333;
	text-align: center;
	color: #fff;
}

div.event_innner3 ul li{
	display: inline-block;
	margin-top: 16px;
	line-height: 1.8em;
}

div.event_innner3 ul li:after{
	margin: 0 10px;
	content: "｜";
}

div.event_innner3 ul li.last:after{
	margin: 0!important;
	content: none!important;
}

/*関連サービス2行の場合
ul.event_S_list2 li{
	margin-top: 0!important;
}*/

div.event_innner3 ul li a{
	color: #333;
}

div.event_innner3 ul li a:hover{
	text-decoration: underline;
	color: #ccc;
}
