@charset "utf-8";

@media(min-width:769px){

	/* all
	------------------------------------------------- */

	body{
		background: #fff url(../img/title_back.gif) repeat-x center top;
		min-width:1000px;
		width:100%;
		font-family:'メイリオ',Meiryo,'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', 'MS PGothic', arial, helvetica, sans-serif;
	}

	.wrap{
		width:1000px;
		margin:0 auto;
	}

	.content{
		width:807px;
		margin:0 auto;
		background: #FFF;
		padding-top:30px;
	}

	.cont01{
		background: #000 url(../img/title_button.gif) left top;
	}

	.cont03{
		width:760px;
		margin:0 auto;
	}

	.cont04{
		width:760px;
		margin:0 auto;
	}

	.cont02{
		width:730px;
		margin:0 auto;
	}

	.txt01{
		margin-top:14px;
	}

	.img01{
		margin-top:42px;
	}

	.img02{
		margin-top:24px;
	}

	.tit01{
		margin-top:30px;
	}

	.button01{
		width:730px;
		margin:0 auto;
		margin-top: -63px;
		padding-bottom:11px;
	}

	.button02{
		width:730px;
		margin:20px auto;
		padding-bottom:30px;
	}

	.button03{
		width:730px;
		margin:0 auto;
		padding:37px 0 50px 0;
	}

	.button04{
		width:730px;
		margin:0 auto;
		padding:37px 0 50px 0;
	}

	.button{
		width:730px;
		margin:0 auto;
	}

	.box{
		background: url(../img/img11.jpg) no-repeat right top;
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		border-left: 1px solid #CCC;
		padding:30px 20px 30px 20px;
	}

	.dl01{
		margin-top:28px;	
	}

	.dl01 dd{
		margin-top:5px;
		font-size: 12px;
		line-height: 1.8em;
	}

	.list01{
		margin-top:	30px;
		padding-bottom:30px;
	}

	.list01 li{
		width:373px;
		float:left;
	}

	.list01 li.last{
		width:373px;
		float:left;
		padding-left:13px;
	}

	.sp_wrap{
		display: none;
	}
}

@media(max-width:768px){
	.sp_wrap{
		display: block;
		padding: 0 0 20px;
	}

	.pc_wrap{
		display: none;
	}

	.sp_wrap_tm5{margin-top: 5px !important;}
	.sp_wrap_tm10{margin-top: 10px !important;}
	.sp_wrap_tm15{margin-top: 15px !important;}
	.sp_wrap_tm20{margin-top: 20px !important;}
	.sp_wrap_tm25{margin-top: 25px !important;}
	.sp_wrap_tm30{margin-top: 30px !important;}
	.sp_wrap_tm35{margin-top: 35px !important;}
	.sp_wrap_tm40{margin-top: 40px !important;}

	.sp_wrap_wi94{
		width: 94%;
		margin: 0 auto;
	}

	.sp_wrap_tit{
		font-size: 14px;
		font-weight: bold;
	}

	.sp_wrap_txt{
		font-size: 12px;
		line-height: 20px;
	}


}